@tailwind base;
@tailwind components;
@tailwind utilities;

.one:hover span:last-child {
    width: 100%;
  }

  body {
    background-color: #1B1B1B; 

  }

  .scroll {
    width: 60px;
    height: 60px;
    border: 2px solid rgb(20 184 166);
    border-radius: 50%;
    position: relative;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;
    &::before {
      content: '';
      position: absolute;
      top: 15px;
      left: 18px;
      width: 18px;
      height: 18px;
      border-left: 2px solid rgb(20 184 166);
      border-bottom: 2px solid rgb(20 184 166);
      transform: rotate(-45deg);
    }
  }
  
  @keyframes down {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(15px);
    }
    40% {
      transform: translate(0);
    }
  }
  
  #artback {
    background-image: url("../app/images/cube.jpg")
  }
  
  @layer utilities {
    .backdrop-blur  {
      backdrop-filter: blur(12px); /* Bulanıklık miktarını ve türünü isteğe göre ayarlayabilirsiniz */
    }
  }.blur-background {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); /* Safari desteği için */
  }
